{% extends 'base.html' %} {% block page_name %}Quiz{% endblock %} {% block
content %}

<div class="page-grid">
    {% if is_session_started == True %}
        <div id="continue-session-modal">
            <div class="modal-content">
                <p class="modal-message">Resume Current Quiz?</p>
                <form class="modal-controls" action="" method="get">
                    <button type="submit">Yes</button>
                    <button type="submit">No</button>
                </form>
                </div>
        </div>
    {% endif %}
    <div id="quiz-builder-container" class="content-container">
        <form id="quiz-builder" action="{{ url_for('quiz.build') }}" method="POST">
            <div id="form-header">
                <h2>Quiz Builder</h2>
                <div class="form-controls">
                    <button type="submit">Start</button>
                    <button type="reset">Reset</button>
                    <button>Randomise</button>
                </div>
            </div>
            <div id="input-fields">
                {% from "quiz/components/input-container.html" import
                radio_container, checkbox_container %} 
                {% for data_set in quiz_data %}
                    <fieldset id="{{ data_set.id }}">
                        <legend>{{ data_set.legend }}</legend>
                        {% if data_set.type == "radio" %} 
                            {% for val in data_set["values"] %} 
                            {{ 
                                radio_container(
                                    name=data_set.name,
                                    text=val.text, 
                                    value=val.value, 
                                    id=val.id,
                                    checked=val.is_default
                                ) 
                            }} 
                            {% endfor %} 
                        {% else %}
                            {% for option in data_set["values"] %}
                                <div class="subject-container" id="{{ option.id }}">
                                    <div class="subject-button">
                                        <span class="selected-count">0</span>
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </div>
                                    <div class="subject-icon">
                                        <i class="{{ option.icon_class }}"></i>
                                        <p>{{ option.text }}</p>
                                    </div>
                                    <div class="options-list-container">
                                        <div class="subject-button">
                                            <i class="fa-solid fa-circle-plus"></i>
                                        </div>
                                        <div class="subject-icon">
                                            <i class="{{ option.icon_class }}"></i>
                                            <p>{{ option.text }}</p>
                                        </div>
                                        <ul class="subject-options-list">
                                            {% for val in option["options"] %}
                                                <li class="subject-options-list-item">
                                                    {{
                                                        checkbox_container(
                                                            name=data_set.name,
                                                            text=val.text, 
                                                            value=val.value, 
                                                            id=val.id,
                                                            ref_class=option.id
                                                        ) 
                                                    }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %} 
                    </fieldset>
                {% endfor %}
            </div>
        </form>
    </div>
</div>

{% endblock %} {% block styles %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='quiz/views/index/style.css') }}"
/>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='quiz/views/index/script.js') }}"></script>
{% endblock %}
