{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='app/views/index/style.css') }}">
{% endblock %}

{% block content %}
<div id="home-content">
    <section id="explore" class="section-container">
        <div class="section-bg-img">
            <img style="view-transition-name: main-bg-img-explore;" src="{{ url_for('static', filename='app/assets/backgrounds/index/explore.jpg') }}" alt="Hero image">
        </div>

        <div class="section-content">
            <h2 class="section-tagline"><span class="tagline-main">Explore</span> <span class="tagline-alt">The Sol System</span></h2>
            <div class="section-btn">
                {% from "app/components/buttons.html" import primary_btn_with_link %}
                {{ primary_btn_with_link("Explore", href=url_for('explore.index')) }}
            </div>
        </div>
    </section>

    <section id="timeline" class="section-container">
        <div class="section-bg-img">
            <img style="view-transition-name: main-bg-img-timeline;" src="{{ url_for('static', filename='app/assets/backgrounds/index/timeline.jpg') }}" alt="Hero image">
        </div>

        <div class="section-content">
            <h2 class="section-tagline"><span class="tagline-main">Compare</span> <span class="tagline-alt">To Understand Deeper</span></h2>
            <div class="section-btn">
                {% from "app/components/buttons.html" import primary_btn_with_link %}
                {{ primary_btn_with_link("Timeline", href=url_for('timeline.index')) }}
            </div>
        </div>
    </section>

    <section id="test" class="section-container">
        <div class="section-bg-img">
            <img src="{{ url_for('static', filename='app/assets/backgrounds/index/quiz.jpg') }}" alt="Hero image">
        </div>

        <div class="section-content">
            <h2 class="section-tagline"><span class="tagline-main">Test</span> <span class="tagline-alt">The Knowledge Gained</span></h2>
            <div class="section-btn">
                {% from "app/components/buttons.html" import primary_btn_with_link %}
                {{ primary_btn_with_link("Test", href=url_for('quiz.index')) }}
            </div>
        </div>
    </section>
</div>
{% endblock %}
