#background-img {
    width: 100dvw;
    height: 100dvh;
    position: relative;
    z-index: 0;
    top: 0;
    left: 0;
}

#background-img picture {
    width: 100%;
    height: 100%;
}

#background-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
