:root {
    /* Multipliers */
    --mul-xs: 0.4;
    --mul-sm: 0.8;
    --mul-md: 1.2;
    --mul-lg: 1.6;
    --mul-xl: 2;
    --mul-2xl: 2.4;
    --mul-3xl: 2.8;

    /* Header */
    --header-height: 64px;
    --height-with-header: calc(100% - var(--header-height));

    --bp-sm: 425px;
    --bp-md: 1024px;
    --bp-lg: 1600px;
}

html,
body {
    overflow-x: clip;
}

/* Clamp every snapshot layer */
::view-transition,
::view-transition-group(root),
::view-transition-image-pair(root),
::view-transition-old(root),
::view-transition-new(root) {
    overflow: hidden;
    inset: 0;
    max-width: 100%;
    max-height: 100%;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: clip;
}

main {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        var(--clr-transparent),
        var(--clr-accent-alt),
        var(--clr-transparent)
    );
}

@view-transition {
    navigation: auto;
}

@keyframes error-msg {
    from {
        transform: translateX(-50%) translateY(-8px) scale(0);
        opacity: 0;
    } to {
        transform: translateX(-50%) translateY(0) scale(1);
        opacity: 1;
    }
}

.error-msg {
    position: absolute;
    top: calc(var(--header-height) + var(--pad-base));
    width: 50dvw;
    padding: var(--pad-base);
    background-color: var(--clr-base-main-mostly-opaque);
    outline: 3px solid var(--clr-failure);
    border-radius: var(--brd-rnd-lg);
    transform: translateX(-50%) translateY(-8px) scale(0);
    opacity: 0;
    pointer-events: none;
    animation: error-msg var(--trans-dur-lg) var(--trans-time-base) var(--trans-dur-lg) forwards;
    z-index: 5;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}