{% extends 'base.html' %}

{% block page_name %}Explore{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='explore/views/index/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='explore/views/components/styles.css') }}">
{% endblock %}

{% block content %}
<div id="explore-home" class="page-grid">
    <div id="bg-img">
        <img style="view-transition-name: main-bg-img-explore;" src="{{ ASSET_ORIGIN }}/{{ ASSET_MAP['explore-hero'] }}" alt="">
    </div>
        <div id="hero">
            <h1 class="hero-text">Explore</h1>
            <h2 class="hero-text">The Solar System</h2>
        </div>

        {% if recently_viewed %}
        <div id="recents" class="sub-wrapper">
            <h3>Recent Visits</h3>
            <ul class="planet-list" id="recent-visit-list">
                {% from "explore/components/planet-card.html" import planet_card with context %}
                {% for planet in recently_viewed %}
                    <li class="planet-list-item">
                        {{
                            planet_card(
                                href=url_for('explore.planet_selected', planet_id=planet.id),
                                name=planet.name,
                                sprite_path=planet.sprite,
                                tagline=planet.tagline
                            )
                        }}
                    </li>
                {% endfor %}
                <li class="planet-list-item">{{ planet_card() }}</li>
            </ul>
        </div>
        {% endif %}
</div>
{% endblock %}
