{% extends 'base.html' %}

{% block page_name %}Explore{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='explore/views/index/style.css') }}">
{% endblock %}

{% block content %}
<div class="page-grid">
    <section id="hero">
        <div id="bg-img">
            <img src="" alt="" srcset="">
        </div>
    </section>
    <section id="quick-search">
        <form action="">

        </form>
    </section>
    <section id="recents">
        <ul>

        </ul>
    </section>
</div>
{% endblock %}
