{% extends 'base.html' %}

{% block page_name %}Explore.{{ planet_data.curr_planet.mainData.name }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='explore/views/planets/style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='explore/views/components/styles.css') }}">
{% endblock %}

{% block scripts %}
<script>
    window.__PLANET_DATA__ = {{ planet_data.curr_planet | tojson }};
</script>
<script src="{{ url_for('static', filename='explore/views/planets/script.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div id="view-planet-content" class="page-grid">
        <section id="select-planet" class="page-component" role="complementary" aria-labelledby="select-planet-heading">
            <div id="header-container" class="page-subcomponent">
                <h2 id="select-planet-heading">Select Planet</h2>
                <button class="open-planet-list" type="button" aria-label="Close planet list" aria-controls="planet-list-container" aria-expanded="true">
                    <i class="fa-solid fa-circle-xmark" aria-hidden="true"></i>
                </button>
            </div>

            <div id="planet-list-container" class="page-subcomponent" role="navigation" aria-label="Planet list">
                <ul class="planet-list" aria-labelledby="select-planet-heading">
                    {% from "explore/components/planet-card.html" import planet_card with context %}
                    {% for planet in planet_data.all_planets %}
                    {% if planet.mainData.id != planet_data.curr_planet.mainData.id %}
                    <li class="planet-list-item">
                            {{
                                planet_card(
                                    sprite_path=planet.mainData.sprite,
                                    name=planet.mainData.name,
                                    tagline=planet.mainData.tagline,
                                    href=url_for('explore.planet_selected', planet_id=planet.mainData.id),
                                    id=planet.mainData.id
                                )
                            }}
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section id="planet-data" class="page-component" role="region" aria-labelledby="planet-name-heading">
            <div id="planet-cover-img"></div>
            <div id="planet-name-container">
                <h1
                class="planet-name"
                style="view-transition-name: name-{{ planet_data.curr_planet.mainData.id }}"
                id="planet-name-heading"
                >
                    {{ planet_data.curr_planet.mainData.name }}
                </h1>
                <button class="open-planet-list" type="button" aria-label="Open planet list" aria-controls="planet-list-container" aria-expanded="false">
                        <i class="fa-solid fa-bars" aria-hidden="true"></i>
                </button>
            </div>

            <div id="planet-data-view-select-container">
                <h3 id="data-views-heading">Data Views</h3>
                <ul class="planet-data-view-list" role="tablist" aria-labelledby="data-views-heading">
                    {% from "explore/components/view-select-btn.html" import view_select_btn %}
                    {% for heading in planet_data.data_headings %}
                        <li class="planet-data-view-list-item" role="presentation">{{ view_select_btn(heading) }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div id="planet-content-container">
                <div id="planet-img-container">
                    <img
                    src="{{ url_for('static', filename=planet_data.curr_planet.mainData.sprite) }}"
                    style="view-transition-name: img-{{ planet_data.curr_planet.mainData.id }}"
                    alt="Sprite image of {{ planet_data.curr_planet.mainData.name }}"
                    decoding="async"
                    >
                </div>
                <div id="planet-data-container">
                    <div class="data-window" id="planet-data-window" role="tabpanel" aria-live="polite" aria-busy="false">
                    </div>
                </div>
            </div>

        </section>
    </div>
{% endblock %}

