#decade-select {
    grid-column: 1 / 13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--height-with-header);
    margin-top: var(--header-height);
    padding-block: var(--pad-lg);
    --node-size: 24px;
    --card-width-base: 50dvw;
    --timeline-width: 6px;
    overflow-y: auto;
}

#hero-text {
    flex: 0 0 fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: var(--gap-base);
    width: 100%;
    padding-inline: var(--pad-base);
}

#timeline {
    flex: 1;
    position: relative;
}

#timeline-bar {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(9px, calc(var(--pad-lg) / 2));
    width: var(--timeline-width);
    height: calc(100% - var(--pad-lg));
    background-color: var(--clr-base-alt);
    border-radius: var(--brd-rnd-full);
    z-index: -1;
}

#decade-list {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90%;
    flex-direction: column;
}

.decade-list-item {
    cursor: pointer;
    position: relative;
    width: var(--node-size);
    aspect-ratio: 1;
    background-color: var(--clr-base-alt);
    z-index: 0;
    border-radius: var(--brd-rnd-full);
    display: flex;
    justify-content: center;
    align-items: center;
}

.decade-list-item::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--clr-accent-alt);
    z-index: 1;
    border-radius: inherit;
}

@keyframes active-node {
    from {
        background-color: var(--clr-base-main);
    } to {
        background-color: var(--clr-accent);
    }
}

.decade-list-item.active::after {
    background-color: var(--clr-accent);
    animation: active-node var(--trans-dur-xl) var(--trans-time-base) alternate-reverse infinite;
}

.timeline-card {
    opacity: 1;
    z-index: -1;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 25dvw;
    aspect-ratio: 3/4;
    border-radius: var(--brd-rnd-lg);
    gap: var(--gap-base);
    padding: var(--pad-xs);
    transition: transform var(--trans-dur-base) var(--trans-time-base);
}

.timeline-img {
    flex:  0 0 fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
    border-radius: inherit;
}

.timeline-img img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.timeline-data {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-base);
    border-radius: inherit;
}

.timeline-data-info {
    padding: var(--pad-base);
    flex: 1;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    background-color: var(--clr-base-alt);
    border-radius: inherit;
    width: 100%;
}

.timeline-data-btn {
    width: 100%;
    display: flex;
    border-radius: inherit;
}

.timeline-data-btn a {
    flex: 1;
    width: 100%;
    text-align: center;
    padding: var(--pad-xs);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-base);
}

.timeline-data-btn a span {
    flex: 2;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
}

.timeline-data-btn a svg {
    flex: 1;
    padding: var(--pad-xs);
    line-height: 0;
    border-radius: var(--brd-rnd-full);
    background-color: var(--clr-accent);
}

.decade-list-item .timeline-card {
    transform: scale(0) translateY(50%);
}

.decade-list-item.active:nth-child(odd):not(:first-child, :last-child) .timeline-card {
    transform: scale(1) translateX(calc(-50% - var(--sp-lg)));
}

.decade-list-item.active:nth-child(even):not(:first-child, :last-child) .timeline-card {
    transform: scale(1) translateX(calc(50% + var(--sp-lg)));
}

.decade-list-item.active:first-child .timeline-card {
    transform: scale(1) translateY(33%) translateX(calc(-50% - var(--sp-lg)));
}

.decade-list-item.active:nth-child(2) .timeline-card {
    transform: scale(1) translateY(33%) translateX(calc(50% + var(--sp-lg))) !important;
}

.decade-list-item.active:last-child .timeline-card {
    transform: scale(1) translateY(-33%) translateX(calc(50% + var(--sp-lg)));
}

.decade-list-item.active:nth-last-child(2) .timeline-card {
    transform: scale(1) translateY(-33%) translateX(calc(-50% - var(--sp-lg))) !important;
}

@media (max-width: 425px) {
    #decade-select {
        justify-content: flex-end;
        align-items: flex-end;
    }

    #timeline-bar {
        transform: translate(6px, 9px);
    }

    #decade-list {
        align-items: flex-end;
    }

    .decade-list-item {
        right: 3px;
    }

    .timeline-card {
        width: 60dvw;
    }

    .decade-list-item.active:nth-child(odd):not(:first-child, :last-child) .timeline-card {
        transform: scale(1) translateX(calc(-50% - var(--sp-2xl)));
    }

    .decade-list-item.active:nth-child(even):not(:first-child, :last-child) .timeline-card {
        transform: scale(1) translateX(calc(-50% - var(--sp-2xl)));
    }

    .decade-list-item.active:nth-child(2) .timeline-card {
        transform: scale(1) translateY(33%) translateX(calc(-50% - var(--sp-2xl))) !important;
    }

    .decade-list-item.active:first-child .timeline-card {
        transform: scale(1) translateY(33%) translateX(calc(-50% - var(--sp-2xl)));
    }

    .decade-list-item.active:last-child .timeline-card {
        transform: scale(1) translateY(-33%) translateX(calc(-50% - var(--sp-lg)));
    }
}
