{% macro progress_bar(id, max_count) %}
<div id='{{ id }}' class="progress-bar">
    <div class="progress-count">
        <span id="curr">0</span>/<span id="total">{{ max_count }}</span>
    </div>
    <div class="progress-track">
        <figure class="radial" aria-label="Progress: 72%" role="img">
            <svg width="120" height="120" viewBox="0 0 120 120">
                <!-- Track -->
                <circle cx="60" cy="60" r="54" class="track" />
                <!-- Progress (rotated so 0% starts at top) -->
                <circle cx="60" cy="60" r="54" class="bar" />
            </svg>
        </figure>
    </div>
</div>
{% endmacro %}
