{% macro primary_button(label, style="pri-btn", type="button", id="", attrs=None) %}
<button
    class="btn {{ style }}"
    type="{{ type }}"
    id="{{ id }}"
    {% if attrs %}
        {% for key, val in attrs.items() %}
            {{ key }}="{{ val }}"
        {% endfor %}
    {% endif %}
>
    {{ label }}
</button>
{% endmacro %}

{% macro secondary_button(label, style="sec-btn", type="button", id="", attrs=None) %}
<button
class="btn {{ style }}"
type="{{ type }}"
id=" {{ id }}"
{% if attrs %}
    {% for key, val in attrs.items() %}
        {{ key }}="{{ val }}"
    {% endfor %}
{% endif %}
>
    {{ label }}
</button>
{% endmacro %}

{% macro options_button(style="options-btn", id="", attrs=None) %}
 <button
 class="options-btn {{ style }}"
 id="{{ id }}"
 {% if attrs %}
    {% for key, val in attrs.items() %}
        {{ key }}="{{ val }}"
    {% endfor %}
 {% endif %}
 >
    <i class="fa-solid fa-bars"></i>
</button>
{% endmacro %}

{% macro primary_btn_with_link(label, href, style="pri-btn", id="", attrs=None) %}
  <a
    class="btn {{ style }}"
    id="{{ id }}"
    href="{{ href }}"
    {% if attrs %}
        {% for k, v in attrs.items() %}
            {{ k }} = "{{ v }}"
        {% endfor %}
    {% endif %}
  >{{ label }}</a>
{% endmacro %}

{% macro secondary_btn_with_link(label, href, style="sec-btn", id="", attrs=None) %}
  <a
    class="btn {{ style }}"
    id="{{ id }}"
    href="{{ href }}"
    {% if attrs %}
        {% for key, val in attrs.items() %}
            {{ key }} = "{{ val }}"
        {% endfor %}
    {% endif %}
  >{{ label }}</a>
{% endmacro %}
