.planet-list {
    width: 100%;
    height: 100%;
    gap: var(--gap-lg);
    padding-bottom: var(--pad-base);
    display: flex;
    overflow-y: auto;
    overflow-x: clip;
    flex-wrap: wrap;
    justify-content: center;
    scroll-timeline-name: --planet-list;
    view-timeline-name: --planet-list;
    view-transition-name: planet-list;
    scroll-padding-bottom: var(--sp-3xl);
}

::view-transition-group(planet-list) {
    animation-duration: var(--trans-dur-lg);
    animation-timing-function: var(--trans-time-base);
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.5);
        filter: var(--blur-base);
    } to {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }
}

.planet-list-item {
    flex: 0 1 75%;
    overflow: hidden;
    aspect-ratio: 1/ 1;
    margin-top: var(--sp-lg);
    view-timeline-name: --planet-list;
    animation-timeline: --planet-list;
    animation-name: fade-in;
    animation-duration: 1ms;
    animation-range: 5% 35%;
    animation-fill-mode: both;
}

.planet-list-item:last-child {
    margin-bottom: var(--sp-lg);
}

.planet-card {
    position: relative;
    overflow: hidden;
    background-color: var(--clr-base-alt);
    height: 100%;
    display: flex;
    align-items: flex-end;
    border-radius: var(--brd-rnd-base);
}

.planet-card:hover .card-icon svg {
    transform:  translateX(50%);
}

.planet-card:hover img {
    transform: translateY(-5%);
}

.planet-card a {
    cursor: pointer;
}

.planet-card::before {
    content: "";
    position: absolute;
    background: radial-gradient(
        ellipse at top left,
        transparent 66%,
        var(--clr-accent-alt) 95%
    );
    inset: 0;
    z-index: 1;
}

.planet-list-item.active .planet-card::before {
    background: radial-gradient(
        ellipse at top left,
        var(--clr-base-main-mostly-transparent) 66%,
        var(--clr-accent) 95%
    );
}

.planet-img {
    padding: var(--pad-lg);
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: clip;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planet-img img {
    transition: transform var(--trans-dur-base) var(--trans-time-base);
}

.planet-content {
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--pad-base);
    padding-bottom: var(--pad-base);
}

.planet-data {
    flex: 4;
    display: flex;
    flex-direction: column;
}

.card-icon {
    height: 100%;
    background-color: var(--clr-accent);
    aspect-ratio: 1;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--brd-rnd-full);
    box-shadow: 0 8px 8px 2px var(--clr-base-main-mostly-transparent);
}

.card-icon svg {
    transition: transform var(--trans-dur-base) var(--trans-time-base);
}
