{% macro planet_card(sprite_path="explore/assets/sun.webp", name="See All", tagline="", href=url_for('explore.planets_default'), id="") %}
<article class="planet-card">
    <div class="planet-img">
        <img
        src="{{ url_for('static', filename=sprite_path) }}" alt="A high res image of {{ name }}"
        {% if id %}style="view-transition-name: img-{{ id }}"{% endif %}
        >
    </div>

    <div class="planet-content">
        <div class="planet-data">
            <h3
            class="planet-name"
            {% if id %}style="view-transition-name: name-{{ id }}"{% endif %}
            >{{ name }}</h3>
            <h4
            class="planet-tagline"
            {% if id %}style="view-transition-name: tagline-{{ id }}"{% endif %}
            >
            {{ tagline }}
        </h4>
        </div>
        <a href="{{ href }}"></a>

        <div class="card-icon">
            <a href="{{ href }}" class="icon-container">
                <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    </div>
</article>
{% endmacro %}
