{% extends 'base.html' %}
{% block page_name %}Timeline{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='timeline/views/index/style.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='timeline/views/index/script.js') }}" defer></script>
{% endblock %}

{% block content %}
<div id="explore-home" class="page-grid">
    {% with messages=get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="error-msg">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <section id="decade-select">
        <div id="hero-text" role="region" aria-labelledby="timeline-heading" aria-describedby="timeline-subheading">
            <h1 id="timeline-heading">Explore a Decade</h1>
            <h2 id="timeline-subheading">Select a Node</h2>
        </div>

        <div id="timeline" role="region" aria-labelledby="timeline-subheading">
            <div id="timeline-bar" aria-hidden="true" role="presentation"></div>
            <ul id="decade-list" aria-labelledby="timeline-subheading" aria-live="polite" aria-busy="false">
                {% for node in timeline_data %}
                {% from "timeline/components/timeline-card.html" import timeline_card with context %}
                    <li class="decade-list-item">
                        {{ 
                            timeline_card(
                                img_path=node.img_path, 
                                name=node.pseudoname, 
                                timeline_id=node.id
                            ) 
                        }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</div>
{% endblock %}

