.planet-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--clr-base-main-semi-transparent);
    border-radius: var(--brd-rnd-lg);
}

.planet-card .card-img {
    flex: 1;
    height: 50%;
}

.planet-card .card-img img {
    height: 100%;
}

.planet-card p {
    flex: 0;
}

.planet-tagline {
    color: var(--clr-text-alt);
    font-size: var(--fs-sm);
}
