<!DOCTYPE html>
<html lang="en">
<head>
  <!-- meta, tokens, reset, etc. -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="asset-origin" content="{{ ASSET_ORIGIN }}">
    <title>{% block title %}Planet.{% block page_name %}{% endblock %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app/styles/root/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app/styles/root/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app/styles/root/typography.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app/styles/root/themes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app/styles/root/spacing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app/styles/root/filters.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app/styles/root/transitions.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app/styles/root/borders.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app/styles/root/transforms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app/styles/components/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app/styles/components/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app/styles/components/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app/styles/components/button.css') }}">
    <script src="{{ url_for('static', filename='app/modules/assetManager.js') }}" defer type="module"></script>
    <link rel="shortcut icon" href="{{ ASSET_ORIGIN }}/{{ ASSET_MAP['favicon'] }}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/d9deb4df99.js" crossorigin="anonymous"></script>
    {% block styles %}{% endblock %}
</head>
<body>
    <a class="skip-link" href="#content" style="display: none;">Skip to content</a>
    <header>
            <div id="website-logo" class="header-section">
                <img src="{{ ASSET_ORIGIN }}/{{ ASSET_MAP['website-logo'] }}" alt="Website Logo">
                <a href="{{ url_for('index') }}" id="to-home"></a>
            </div>
            <nav id="main-nav" class="header-section">
                <ul id="main-nav-list">
                    <li class="nav-list-item">
                        <a href="{{ url_for('explore.index') }}" class="nav-list-link {% if pg_name == 'explore' %} active {% endif %}">Explore</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="{{ url_for('timeline.index') }}" class="nav-list-link {% if pg_name == 'timeline' %} active {% endif %}">Timeline</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="{{ url_for('quiz.index') }}" class="nav-list-link {% if pg_name == 'test' %} active {% endif %}">Quiz</a>
                    </li>
                </ul>
            </nav>
            {% from "app/components/buttons.html" import options_button %}
            {{ options_button(id="open-nav", style="header-section hidden") }}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <nav id="footer-nav">
            <ul id="nav-list">
                <li class="nav-item">
                    <a href="{{ url_for('about') }}" class="nav-link" id="to-about">About</a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('sitemap') }}" class="nav-link" id="to-sitemap">SiteMap</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" id="to-t-and-c">Terms &amp; Conditions</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" id="to-contact">Contact Us</a>
                </li>
                {% block add_footer_nav_links %}{% endblock %}
            </ul>
        </nav>
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>
